<div class="row">
    <div class="col-sm-12">
        <app-alert [message]="errorMessage" *ngIf="errorMessage" (close)="onClose()"></app-alert>
        <div class="proba">
            <table>
                <thead>
                    <tr>
                        <th colspan="4">All shortened urls</th>
                    </tr>
                    <tr>
                        <th>Original URL</th>
                        <th>Shortened URL</th>
                        <th>Number of clicks</th>
                    </tr>
                </thead>
            </table>
            <app-url *ngFor="let url of urls; let i = index" [url]="url"></app-url>
        </div>
    </div>
</div>